@font-face {
  font-family: helvetica;
  src: url('./assets/Helvetica-Font/helvetica-rounded-bold-5871d05ead8de.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: helvetica;
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: #181818;
  color: white;
  font-weight: lighter;
  overflow: hidden;
}

.borderGradient {
  border-width: 0px 1px 0px 1px;
  border-style: solid; 
  border-image: linear-gradient(to bottom, #FE5F6E, #923CFF, #2B7CFF); 
  border-image-slice: 1;
}

.borderGradientFull {
  border-width: 0; /* Remove border */
  box-shadow: 0 0 0 0.5px #FE5F6E, 0 0 0 1px #923CFF, 0 0 0 1.5px #2B7CFF; /* Apply multiple box shadows to simulate gradient border */
}


.borderGradientNav{
  border-width: 0px 0px 1px 0px;
  border-style: solid; 
  border-image: linear-gradient(to right, #FE5F6E, #923CFF, #2B7CFF); 
  border-image-slice: 1;
}

.textSmall{
  font-size: 13px ;
  color: rgb(94, 94, 94)
}


.cl-userButtonPopoverFooter{
  display: none;
}

.cl-internal-b3fm6y{
  display: none;

}

.cl-rootBox{
  display: flex;
  width: 100%;
  justify-content: center
}

.cl-footer{
  display: none
}



/* .cl-socialButtonsIconButton{
  background-color: #ffffff;
} */
/* 
.cl-socialButtonsIconButton:hover{
  background-color: #717171;
} */

/* .cl-card{
  background-color: #1E1E1E;
  color: white
} */

/* .cl-headerTitle{
  color: white
} */
/* .cl-headerSubtitle{
  color: white
} */
/* .cl-formFieldHintText{
  color: rgb(110, 110, 110)
} */
/* .cl-dividerText{
  color: white
} */
/* .cl-dividerLine{
  background-color: white
}
.cl-formFieldLabel{
  color: white
} */
/* .cl-userButton-popover{
  background-color: #1e1e1e ;
} */
/* .cl-internal-1ptfnbv{
  color: white
}

.cl-internal-17bz5n6{
  color: white
}
.cl-internal-1yejcov{
  color: white;
} */
/* .cl-internal-yrq74:hover , .cl-internal-yrq74:hover{
  background-color: #181818
} */
@tailwind base;
@tailwind components;
@tailwind utilities;