@font-face {
  font-family: helvetica;
  src: url('./assets/Helvetica-Font/helvetica-rounded-bold-5871d05ead8de.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: helvetica;
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: #181818;
  color: white;
  font-weight: lighter;
}

.borderGradient {
  border-width: 0px 1px 0px 1px;
  border-style: solid; 
  border-image: linear-gradient(to bottom, #FE5F6E, #923CFF, #2B7CFF); 
  border-image-slice: 1;
}

.borderGradientFull {
  border-width: 0; /* Remove border */
  box-shadow: 0 0 0 0.5px #FE5F6E, 0 0 0 1px #923CFF, 0 0 0 1.5px #2B7CFF; /* Apply multiple box shadows to simulate gradient border */
}


.borderGradientNav{
  border-width: 0px 0px 1px 0px;
  border-style: solid; 
  border-image: linear-gradient(to right, #FE5F6E, #923CFF, #2B7CFF); 
  border-image-slice: 1;
}

.textSmall{
  font-size: 13px ;
  color: rgb(94, 94, 94)
}

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;
